<%= form_with(model: [project, project.discussions.build]) do |f| %>
    <div class="form-control">
      <%= f.rich_text_area :body %>
      <%= f.submit "Add Discussion", class: "btn btn-primary mt-1" %>
    </div>
  <% end %>

  