<form method="post" action="/sign_in'" >
<p>select sign_in</p>
  <label for="id">id:</label>
   <input type="number" name="id"><br>
     <label for="attribute">attribute name:</label>
   <input type="text" name="attribute"><br>
     <label for="new_val">new value:</label>
   <input type="text" name="new_val"><br>
    <input type ="submit" value="update user">
</form>