<!DOCTYPE html>
<html>
  <head>
    <title>Users index page</title>
  </head>
  <body>
    <h1>Users</h1>
    <table>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><%= user.age %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
    <form action="https://tc094e766-381f.docode.fi.qwasar.io:8080/users " method="post">
      <label for="firstname">Firstname:</label>
      <input type="text" id="firstname" name="firstname"><br><br>
      <label for="lastname">Lastname:</label>
      <input type="text" id="lastname" name="lastname"><br><br>
      <label for="age">Age:</label>
      <input type="text" id="age" name="age"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

curl -X POST -i https://tc094e766-381f.docode.fi.qwasar.io:8080/users -d "firstname=ebi" -d "lastname=ebikon" -d "age=34" -d "password=ebikon" -d "email=eb@gmail.com"
