<form method="post" action="/sign_in'" >
<p>select sign_in</p>
  <label for="email">email:</label>
   <input type="text" name="email"><br>
     <label for="password">password:</label>
   <input type="text" name="password"><br>
     
    <input type ="submit" value="sign in">
</form>