<div>
    <% if notice %>
        <div class="alert alert-dark text-center"><%= notice %></div>
    <% elsif alert %>
        <div class="alert alert-warning text-center"><%= alert %></div>
    <% end %>
</div>