<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<a href="/login">Login</a>
<button>
  <a href="/login">Login</a>
</button>
<a href="/register">Register</a>
<button>
  <a href="/register">Register</a>
</button>

 