<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="d-block">
      <div>
      <%= image_tag 'qwasarlogo.png', size: '300x300' %>
      </div>
      <div class="d-block">
          <h1 class="display-4 font-weight-bold text-dark text-center">COLLABORATE</h1>
      </div>
      <div class="d-block">
          <h6 class=" font-weight-bold text-dark text-center">
           A project management tool for developers
          </h6>
      </div>
      <div class="d-block ml-5">
          <a class="btn btn-primary btn-lg m-5" href="/users/sign_up">Sign Up</a>
          <a class="btn btn-primary btn-lg m-5" href="/users/sign_in">Login</a>
      </div>
  </div>
</div>
